<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carl.yimai.mapper.YmItemDescMapper">
    <resultMap id="BaseResultMap" type="com.carl.yimai.po.YmItemDesc">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="editor" jdbcType="VARCHAR" property="editor"/>
        <result column="created" jdbcType="DATE" property="created"/>
        <result column="updated" jdbcType="TIMESTAMP" property="updated"/>
        <result column="item_id" jdbcType="VARCHAR" property="itemId"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.carl.yimai.po.YmItemDesc">
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                                <when
                                    test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach
                                    close=")"
                                    collection="criterion.value"
                                    item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                                <when
                                    test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach
                                    close=")"
                                    collection="criterion.value"
                                    item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, status, editor, created, updated, item_id
  </sql>
    <sql id="Blob_Column_List">
    content
  </sql>
    <select id="selectByExampleWithBLOBs"
        parameterType="com.carl.yimai.po.YmItemDescExample"
            resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
        <include refid="Base_Column_List"/>
    ,
    <include
            refid="Blob_Column_List"/>
    from ym_item_desc
    <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    </select>
    <select id="selectByExample"
        parameterType="com.carl.yimai.po.YmItemDescExample"
            resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
        <include
            refid="Base_Column_List"/>
    from ym_item_desc
    <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String"
            resultMap="ResultMapWithBLOBs">
    select 
    <include
            refid="Base_Column_List"/>
    ,
    <include refid="Blob_Column_List"/>
    from ym_item_desc
    where id = #{id,jdbcType=VARCHAR}
  </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ym_item_desc
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample"
            parameterType="com.carl.yimai.po.YmItemDescExample">
    delete from ym_item_desc
    <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.carl.yimai.po.YmItemDesc">
    insert into ym_item_desc (id, status, editor, 
      created, updated, item_id, 
      content)
    values (#{id,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{editor,jdbcType=VARCHAR}, 
      #{created,jdbcType=DATE}, #{updated,jdbcType=TIMESTAMP}, #{itemId,jdbcType=VARCHAR}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
    <insert id="insertSelective"
            parameterType="com.carl.yimai.po.YmItemDesc">
    insert into ym_item_desc
    <trim
            prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
        id,
      </if>
            <if test="status != null">
        status,
      </if>
            <if test="editor != null">
        editor,
      </if>
            <if test="created != null">
        created,
      </if>
            <if test="updated != null">
        updated,
      </if>
            <if test="itemId != null">
        item_id,
      </if>
            <if test="content != null">
        content,
      </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
            <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
            <if test="editor != null">
        #{editor,jdbcType=VARCHAR},
      </if>
            <if test="created != null">
        #{created,jdbcType=DATE},
      </if>
            <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
            <if test="itemId != null">
        #{itemId,jdbcType=VARCHAR},
      </if>
            <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
        </trim>
    </insert>
    <select id="countByExample"
        parameterType="com.carl.yimai.po.YmItemDescExample"
            resultType="java.lang.Integer">
    select count(*) from ym_item_desc
    <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
    update ym_item_desc
    <set>
            <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
            <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
            <if test="record.editor != null">
        editor = #{record.editor,jdbcType=VARCHAR},
      </if>
            <if test="record.created != null">
        created = #{record.created,jdbcType=DATE},
      </if>
            <if test="record.updated != null">
        updated = #{record.updated,jdbcType=TIMESTAMP},
      </if>
            <if test="record.itemId != null">
        item_id = #{record.itemId,jdbcType=VARCHAR},
      </if>
            <if test="record.content != null">
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
</mapper>
