<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carl.yimai.mapper.YmOrderMapper">
  <resultMap id="BaseResultMap" type="com.carl.yimai.po.YmOrder">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="sellerid" jdbcType="VARCHAR" property="sellerid" />
    <result column="buyerid" jdbcType="VARCHAR" property="buyerid" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="expressid" jdbcType="INTEGER" property="expressid" />
    <result column="editor" jdbcType="VARCHAR" property="editor" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="expire" jdbcType="TIMESTAMP" property="expire" />
    <result column="finish" jdbcType="TIMESTAMP" property="finish" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, status, sellerid, buyerid, price, comment, expressid, editor, created, expire, 
    finish
  </sql>
  <select id="selectByExample" parameterType="com.carl.yimai.po.YmOrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ym_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ym_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ym_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.carl.yimai.po.YmOrderExample">
    delete from ym_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.carl.yimai.po.YmOrder">
    insert into ym_order (id, status, sellerid, 
      buyerid, price, comment, 
      expressid, editor, created, 
      expire, finish)
    values (#{id,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, #{sellerid,jdbcType=VARCHAR}, 
      #{buyerid,jdbcType=VARCHAR}, #{price,jdbcType=INTEGER}, #{comment,jdbcType=VARCHAR}, 
      #{expressid,jdbcType=INTEGER}, #{editor,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, 
      #{expire,jdbcType=TIMESTAMP}, #{finish,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.carl.yimai.po.YmOrder">
    insert into ym_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="sellerid != null">
        sellerid,
      </if>
      <if test="buyerid != null">
        buyerid,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="expressid != null">
        expressid,
      </if>
      <if test="editor != null">
        editor,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="expire != null">
        expire,
      </if>
      <if test="finish != null">
        finish,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="sellerid != null">
        #{sellerid,jdbcType=VARCHAR},
      </if>
      <if test="buyerid != null">
        #{buyerid,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="expressid != null">
        #{expressid,jdbcType=INTEGER},
      </if>
      <if test="editor != null">
        #{editor,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="expire != null">
        #{expire,jdbcType=TIMESTAMP},
      </if>
      <if test="finish != null">
        #{finish,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.carl.yimai.po.YmOrderExample" resultType="java.lang.Integer">
    select count(*) from ym_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ym_order
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.sellerid != null">
        sellerid = #{record.sellerid,jdbcType=VARCHAR},
      </if>
      <if test="record.buyerid != null">
        buyerid = #{record.buyerid,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=INTEGER},
      </if>
      <if test="record.comment != null">
        comment = #{record.comment,jdbcType=VARCHAR},
      </if>
      <if test="record.expressid != null">
        expressid = #{record.expressid,jdbcType=INTEGER},
      </if>
      <if test="record.editor != null">
        editor = #{record.editor,jdbcType=VARCHAR},
      </if>
      <if test="record.created != null">
        created = #{record.created,jdbcType=TIMESTAMP},
      </if>
      <if test="record.expire != null">
        expire = #{record.expire,jdbcType=TIMESTAMP},
      </if>
      <if test="record.finish != null">
        finish = #{record.finish,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ym_order
    set id = #{record.id,jdbcType=BIGINT},
      status = #{record.status,jdbcType=INTEGER},
      sellerid = #{record.sellerid,jdbcType=VARCHAR},
      buyerid = #{record.buyerid,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=INTEGER},
      comment = #{record.comment,jdbcType=VARCHAR},
      expressid = #{record.expressid,jdbcType=INTEGER},
      editor = #{record.editor,jdbcType=VARCHAR},
      created = #{record.created,jdbcType=TIMESTAMP},
      expire = #{record.expire,jdbcType=TIMESTAMP},
      finish = #{record.finish,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.carl.yimai.po.YmOrder">
    update ym_order
    <set>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="sellerid != null">
        sellerid = #{sellerid,jdbcType=VARCHAR},
      </if>
      <if test="buyerid != null">
        buyerid = #{buyerid,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="expressid != null">
        expressid = #{expressid,jdbcType=INTEGER},
      </if>
      <if test="editor != null">
        editor = #{editor,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="expire != null">
        expire = #{expire,jdbcType=TIMESTAMP},
      </if>
      <if test="finish != null">
        finish = #{finish,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.carl.yimai.po.YmOrder">
    update ym_order
    set status = #{status,jdbcType=INTEGER},
      sellerid = #{sellerid,jdbcType=VARCHAR},
      buyerid = #{buyerid,jdbcType=VARCHAR},
      price = #{price,jdbcType=INTEGER},
      comment = #{comment,jdbcType=VARCHAR},
      expressid = #{expressid,jdbcType=INTEGER},
      editor = #{editor,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      expire = #{expire,jdbcType=TIMESTAMP},
      finish = #{finish,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>