<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.carl.yimai.mapper.YmUserAddrMapper" >
  <resultMap id="BaseResultMap" type="com.carl.yimai.po.YmUserAddr" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="address_main" property="addressMain" jdbcType="VARCHAR" />
    <result column="address_second" property="addressSecond" jdbcType="VARCHAR" />
    <result column="address_third" property="addressThird" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="DATE" />
    <result column="updated" property="updated" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, address_main, address_second, address_third, created, updated
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.carl.yimai.po.YmUserAddrExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ym_user_addr
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ym_user_addr
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ym_user_addr
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.carl.yimai.po.YmUserAddrExample" >
    delete from ym_user_addr
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.carl.yimai.po.YmUserAddr" >
    insert into ym_user_addr (id, address_main, address_second, 
      address_third, created, updated
      )
    values (#{id,jdbcType=VARCHAR}, #{addressMain,jdbcType=VARCHAR}, #{addressSecond,jdbcType=VARCHAR}, 
      #{addressThird,jdbcType=VARCHAR}, #{created,jdbcType=DATE}, #{updated,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.carl.yimai.po.YmUserAddr" >
    insert into ym_user_addr
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="addressMain != null" >
        address_main,
      </if>
      <if test="addressSecond != null" >
        address_second,
      </if>
      <if test="addressThird != null" >
        address_third,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="updated != null" >
        updated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="addressMain != null" >
        #{addressMain,jdbcType=VARCHAR},
      </if>
      <if test="addressSecond != null" >
        #{addressSecond,jdbcType=VARCHAR},
      </if>
      <if test="addressThird != null" >
        #{addressThird,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        #{created,jdbcType=DATE},
      </if>
      <if test="updated != null" >
        #{updated,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.carl.yimai.po.YmUserAddrExample" resultType="java.lang.Integer" >
    select count(*) from ym_user_addr
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ym_user_addr
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.addressMain != null" >
        address_main = #{record.addressMain,jdbcType=VARCHAR},
      </if>
      <if test="record.addressSecond != null" >
        address_second = #{record.addressSecond,jdbcType=VARCHAR},
      </if>
      <if test="record.addressThird != null" >
        address_third = #{record.addressThird,jdbcType=VARCHAR},
      </if>
      <if test="record.created != null" >
        created = #{record.created,jdbcType=DATE},
      </if>
      <if test="record.updated != null" >
        updated = #{record.updated,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ym_user_addr
    set id = #{record.id,jdbcType=VARCHAR},
      address_main = #{record.addressMain,jdbcType=VARCHAR},
      address_second = #{record.addressSecond,jdbcType=VARCHAR},
      address_third = #{record.addressThird,jdbcType=VARCHAR},
      created = #{record.created,jdbcType=DATE},
      updated = #{record.updated,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.carl.yimai.po.YmUserAddr" >
    update ym_user_addr
    <set >
      <if test="addressMain != null" >
        address_main = #{addressMain,jdbcType=VARCHAR},
      </if>
      <if test="addressSecond != null" >
        address_second = #{addressSecond,jdbcType=VARCHAR},
      </if>
      <if test="addressThird != null" >
        address_third = #{addressThird,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=DATE},
      </if>
      <if test="updated != null" >
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.carl.yimai.po.YmUserAddr" >
    update ym_user_addr
    set address_main = #{addressMain,jdbcType=VARCHAR},
      address_second = #{addressSecond,jdbcType=VARCHAR},
      address_third = #{addressThird,jdbcType=VARCHAR},
      created = #{created,jdbcType=DATE},
      updated = #{updated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>